/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General */
#game {
  width: 70%;
  max-width: 1024px;
  min-width: 300px;
  margin: 0 auto;
  position: relative;
}

/* Login screen */
#username, #enterbutton {
  position: absolute;
  top: 3em;
  font-size: 250%;
  border-radius: 8px;
}
#username {
  left: 0;
  width: 67%;
  text-align: center;
}
#enterbutton {
  right: 0;
  width: 27%;
}

/* Playground */
#players {
  position: absolute;
  top: 5em;
  left: 70%;
  right: 3em;
  padding: 5px;
}
#cells {
  position: absolute;
  top: 5em;
  left: 0;
  width: 70%;
  table-layout: fixed;
}
#cells tr:first-child td:first-child {
  border-top-left-radius: 1em;
}
#cells tr:first-child td:last-child {
  border-top-right-radius: 1em;
}
#cells tr:last-child td:first-child {
  border-bottom-left-radius: 1em;
}
#cells tr:last-child td:last-child {
  border-bottom-right-radius: 1em;
}
#cells td {
  text-align: center;
  height: 3em;
  vertical-align: middle;
  
  -moz-transition: background-color 500ms;
  -webkit-transition: background-color 500ms;
  -ms-transition: background-color 500ms;
  -o-transition: background-color 500ms;
  transition: background-color 500ms;
}
#chronometer {
  position: absolute;
  top: 3em;
  left: 0;
  width: 30%;
  text-align: center;
}
#choosevalue {
  position: absolute;
  top: 3em;
  right: 30%;
  text-align: right;
}
#choosevalue input {
  width: 10em;
  text-align: center;
  border-radius: 5px;
}
#choosevalue button {
  margin-left: 10px;
  width: 10em;
  border-radius: 5px;
}
#badges {
  position: absolute;
  top: 5em;
  right: 0;
  width: 3em;
}
#badges img {
  width: 3em;
}
#message {
  position: absolute;
  top: 1em;
  left: 0;
  text-align: center;
  width: 100%;
}